<% include header.ejs %>
<!--start wrapper-->
<section class="wrapper">
    <section class="page_head" data-href="/public/images/page_header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2 style="font-size: 30px;">Cost of live-in care</h2>
                        <span class="sub_heading">Call today, care tomorrow. Choose Nigeria biggest and best live-in care provider.</span>
                    </div>
                    <nav id="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="index_5.php">Home</a></li>
                            <li>Cost of live in care</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="content blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="blog_large">
                        <article class="post">
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Crystal-clear pricing for a live-in carer at home</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        <strong>
                                            When looking at home care options, price is often a major consideration. Here we outline the cost of our live-in care package,
                                            how this relates to the price of a residential care home or visiting carer, and how live-in care is providing an extra lease of life to many of our customers.
                                        </strong>
                                    </p>
                                    <h2>How much  does a live-in carer cost?</h2>
                                    <hr>
                                    <p>The cost of <a href="live-in-care.php"><strong>live-in care</strong></a> is dependent on the level of support you or your loved one requires.</p>
                                    <p>
                                        We cover the full range of home care services available, so our costs are based on your precise needs and requirements, whether it’s providing companionship, 
                                        personal care, help administering medication or support with more complex healthcare requirements.
                                    </p>
                                    <blockquote class="default">
                                        <ul class="list_style circle">
                                            Our prices for 24-hour support from a live-in carer start from:
                                            <li>£1,015 per week for a single person</li>
                                            <li>£1,330 per week for a couple</li>
                                            <!--<li></li>-->
                                        </ul>
                                    </blockquote>
                                    <p>
                                        Please, call us today to get a quote for your specific care needs. One of our advisers will give you an estimate over the phone there and then.
                                        With us you can be guaranteed of no hidden extras or surprise costs later.
                                    </p>
                                    <p>
                                        The final price for your live-in care will be confirmed once your local care specialist has visited you in person to fully assess your needs.
                                    </p>
                                    <p>
                                        We can also advise on the funding options that may be open to you, either from your local authority or through continuing healthcare funding with the NHS.
                                    </p>
                                </div>
                                <div style="margin-top: 10px;" class="row sub_content">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form_3.php"><button class="btn btn-default btn-block" style="border-radius: 20px;" type="button"><strong >Request a callback &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form.php"><button class="btn btn-default btn-block" style="border-radius: 20px; background-color: #ff6666;" type="button"><strong>Request a brochure &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <h2>Respite care costs</h2>
                                    <hr>
                                    <p>
                                        If your usual carer needs a break or has let you down, we can provide a carer on a temporary basis, sometimes called respite care.
                                    </p>
                                    <p>
                                        Respite care is live-in care that is needed for a short period, and the prices start from £250 per day. This temporary support can be arranged for as little as three days, all the way up to four weeks of support.
                                    </p>
                                    <p>
                                        If you need support for more than four weeks, our weekly prices for live-in care apply, which are outlined above.
                                    </p>
                                    <p>
                                        Please, get in touch if you’d like to find more about respite care, and for a full quote.
                                    </p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <h2>Comparing live-in care with the cost of a residential care home</h2>
                                    <hr>
                                    <p>
                                        It’s difficult to compare a residential care home with the huge value of one-to-one support in your own home. While there are more people on hand in a care home, our customers who’ve tried 
                                        both say that it doesn’t compare with the personal assistance and continuous support of a live-in carer.
                                    </p>
                                    <p>
                                        Residential care can cost up to £1,041 per week for a bed in a care home – more if nursing is required. Live-in care costs start from £1,015 per week. This means that live-in care fees can 
                                        be particularly cost-effective as the individual gets to stay in their own home with one to one support.
                                    </p>
                                    <p>
                                        Choosing care in your own home means you can keep your own routines, eat at your desired times, enjoy your usual activities and have family and friends close by to pop-in when they want.
                                        The other major benefit is avoiding the stress and upheaval of a big move, especially a move away from your family home.
                                    </p>
                                    <h3>Caring for couples at home</h3>
                                    <p>
                                        If you’re a couple investigating the costs of a residential care home, you may be surprised to hear that the cost of a live-in carer is dramatically less. 
                                        In a care home, you’re paying for two beds, while with live-in care, you pay for one carer.
                                    </p>
                                    <p>
                                        For a couple, residential care home prices can rise to £2,082 per week, based on the weekly cost of £1,041 per person. For a live-in carer for a couple our prices are a fraction of that, starting from £1,330 per week.
                                    </p>
                                    <p>
                                        Call our friendly team of care experts to have a chat through your options, or find out more about how we provide care for couples.
                                    </p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">                                  
                                    <h2>How much does traditional domiciliary care cost?</h2>
                                    <hr>
                                    <p>
                                        Recent independent research has highlighted the total costs involved when using a traditional domiciliary service, or a carer who visits you at home, 
                                        showing how much the costs can grow when receiving a number of visits each day.                                    </p>
                                    <blockquote class="default">
                                        Based on an 80-year-old gentleman who was receiving domiciliary care in Yaba, Lagos area, the research revealed that the overall costs are much greater than the cost of a live-in carer.
                                    </blockquote>

                                    <div class="carousel">
                                        <h3>The costs of traditional domiciliary care</h3>
                                        <div class="prices">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Personal care three times a day</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>£378 per day (average)</p>
                                                    <p>Provided by local companies seven days a week</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Carer for attending local groups</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>£353 per day (average)</p>
                                                    <p>Includes transport for attending day centres and fulfilling hobbies and interests</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pricess">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Food preparation</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>£80 per week (average)</p>
                                                    <p>Access to one meal a day through meals on wheels</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Transport to appointments</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>up to £150 per journey (cost to the local government)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pricess">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Physiotherapy at home</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>£230 per day for a house call (cost to local authority)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Cleaning and household chores</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>£10 per hour, averaging £30 per week</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pricess">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Cost of domiciliary care</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>up to £1,221 per week</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <div style="padding: 15px 0px;">
                                                <div class="col-lg-6">
                                                    <p><strong>Cost of live-in care</strong></p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p>from £1,015 per week</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="margin-top: 25px;">
                                        It’s common for care needs to grow, and the costs can easily get out of hand. If you find that you’re suddenly
                                        arranging for more than one or two home care visits each day, it may be time to consider live-in care and the many extra benefits it provides.
                                    </p>
                                    <p>Speak to our friendly team to find out more. They will talk you through how we go about matching you with a single carer who’s there to support at all hours of the day or night.</p>
                                </div>
                            </div>

                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Other people are interested in...</span></p>
                                    <hr>
                                    <p style="font-size: 15px;">
                                        We're here seven days a week to talk through your home care needs and find the best option for you.
                                        Call <strong>09055556666</strong> or <a href="form_3.php"><strong>request a call</strong></a> and will will call you.
                                    </p>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care1.jpg"class="img-thumbnail">
                                    </div>
                                    <h3>Nursing care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Elderly care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care2.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Support for younger people</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>

                <!--Sidebar Widget-->
                <% include sidebar-right.ejs %>
            </div><!--/.row-->
        </div> <!--/.container-->
    </section>
</section>
<!--end wrapper-->

<!--start footer-->
<!--start footer-->

<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.easing.1.3.js"></script>
<script src="/public/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="/public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script type="text/javascript" src="/public/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/public/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/jquery.blurr.js"></script>
<!---->

<script src="/public/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>
<% include footer.ejs %>