<% include header.ejs %>
<div class="display" style="margin: 16px"  >
    <p> Thank you <%= fname %> <%= lname %> for requesting our service</p>
    <p> A customer representative will get in touch shortly</p>
    <p> An email has been sent to <%= mail %> </p>
</div>
<% include footer.ejs %>