<% include header.ejs %>

<div class="w3-container">
    <div class="w3-container w3-row-padding">
        <div class="w3-quarter can">
            <div class="w3-center ">
                <img src="/public/images/housekeepers-photos/1.jpg" alt="" class="w3-circle" style="width:50%">
            </div>
           
            <div class="w3-center w3-white">
                <p><b class="">Jane</b></p>
                <span class="fa fa-star checked w3-text-green"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p style="font-family: 'Rouge Script', cursive;" class="description">"I have been a domestic cleaner for almost 2 years.I can work with little or no supervision"</p>
                <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple  w3-round-large w3-green w3-hover-teal book-me-buttons"><i>Book Me</i></a>
            </div>
        </div>
        <div class="w3-quarter can">
                <div class="w3-center ">
                    <img src="/public/images/housekeepers-photos/1.jpg" alt="" class="w3-circle" style="width:50%">
                </div>
               
                <div class="w3-center w3-white">
                    <p><b class="">Jane</b></p>
                    <span class="fa fa-star checked w3-text-green"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p style="font-family: 'Rouge Script', cursive;" class="description">"I have been a domestic cleaner for almost 2 years.I can work with little or no supervision"</p>
                    <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple  w3-round-large w3-green w3-hover-teal book-me-buttons"><i>Book Me</i></a>
                </div>
            </div>
            <div class="w3-quarter can">
                    <div class="w3-center ">
                        <img src="/public/images/housekeepers-photos/1.jpg" alt="" class="w3-circle" style="width:50%">
                    </div>
                   
                    <div class="w3-center w3-white">
                        <p><b class="">Jane</b></p>
                        <span class="fa fa-star checked w3-text-green"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p style="font-family: 'Rouge Script', cursive;" class="description">"I have been a domestic cleaner for almost 2 years.I can work with little or no supervision"</p>
                        <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple  w3-round-large w3-green w3-hover-teal book-me-buttons"><i>Book Me</i></a>
                    </div>
                </div>
                
    </div>
    <!-- Second Row -->
    <div class="w3-container w3-row-padding">
            <div class="w3-quarter can">
                <div class="w3-center ">
                    <img src="/public/images/housekeepers-photos/1.jpg" alt="" class="w3-circle" style="width:50%">
                </div>
               
                <div class="w3-center w3-white">
                    <p><b class="">Jane</b></p>
                    <span class="fa fa-star checked w3-text-green"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p style="font-family: 'Rouge Script', cursive;" class="description">"I have been a domestic cleaner for almost 2 years.I can work with little or no supervision"</p>
                    <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple  w3-round-large w3-green w3-hover-teal book-me-buttons"><i>Book Me</i></a>
                </div>
            </div>
            <div class="w3-quarter can">
                    <div class="w3-center ">
                        <img src="/public/images/housekeepers-photos/1.jpg" alt="" class="w3-circle" style="width:50%">
                    </div>
                   
                    <div class="w3-center w3-white">
                        <p><b class="">Jane</b></p>
                        <span class="fa fa-star checked w3-text-green"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p style="font-family: 'Rouge Script', cursive;" class="description">"I have been a domestic cleaner for almost 2 years.I can work with little or no supervision"</p>
                        <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple  w3-round-large w3-green w3-hover-teal book-me-buttons"><i>Book Me</i></a>
                    </div>
                </div>
                <div class="w3-quarter can">
                        <div class="w3-center ">
                            <img src="/public/images/housekeepers-photos/1.jpg" alt="" class="w3-circle" style="width:50%">
                        </div>
                       
                        <div class="w3-center w3-white">
                            <p><b class="">Jane</b></p>
                            <span class="fa fa-star checked w3-text-green"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <p style="font-family: 'Rouge Script', cursive;" class="description">"I have been a domestic cleaner for almost 2 years.I can work with little or no supervision"</p>
                            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-ripple  w3-round-large w3-green w3-hover-teal book-me-buttons"><i>Book Me</i></a>
                        </div>
                    </div>
                    
        </div>
</div>
<!-- modal form for booking housekeepers -->
<div id="id01" class="w3-modal">
    <form class="w3-modal-content modal-can">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h4>Book a Housekeeper</h4>
      </header>
      <div class="w3-container">
            <p>      
            <label class="w3-text-brown"><b>First Name</b></label>
            <input class="w3-input w3-border w3-sand" name="firstname" type="text"></p>
            <p>      
            <label class="w3-text-brown"><b>Last Name</b></label>
            <input class="w3-input w3-border w3-sand" name="lastname" type="text"></p>
            <p>      
            <label class="w3-text-brown"><b>Email</b></label>
            <input class="w3-input w3-border w3-sand" name="email" type="email"></p>
            <p>      
            <label class="w3-text-brown"><b>Phone Number</b></label>
            <input class="w3-input w3-border w3-sand" name="phonenumber" type="tel"></p>
            <p>
            <input class="w3-btn w3-brown" value="Submit" type="submit"></p>
      </div>
      
    </form>
  </div>

<% include footer.ejs %>
