
<!--start footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="widget_title">
                    <h4><span>About Us</span></h4>
                </div>
                <div class="widget_content">
                    <p style="font-size: 12px;">We're assisting adults of all ages to stay in the comfort of their own homes, in the place they love the most.
                    Seeing the extra lease of life this gives to families is the reason we're so passionate about what we do.</p>
                    <ul class="contact-details-alt">
                        <li><i class="fa fa-map-marker"></i> <p><strong>Address</strong>: 16/18 Murtala Muhanned Int. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Airport Road Lagos, Nigeria</p></li>
                        <li><i class="fa fa-user"></i> <p><strong>Phone</strong>:(+234)700-055-5666</p></li>
                        <li><i class="fa fa-envelope"></i> <p><strong>Email</strong>: <a href="#"><span style="font-size: 9px; ">www.essentialhomecare@gmail.com</span></a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="widget_title">
                    <h4><span>Recent Posts</span></h4>
                </div>
                <div class="widget_content">
                    <ul class="links">
                        <li><a href="#">Delight Placid do something<span>December 08, 2018</span></a></li>
                        <li><a href="#">Confidence do something<span>December 09, 2018</span></a></li>
                        <li><a href="#">Phebby do something<span>December 11, 2018</span></a></li>
                        <li><a href="#">Panaci do something<span>December 05, 2018</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="widget_title">
                    <h4><span>Twitter</span></h4>
                </div>
                <div class="widget_content">
                    <ul class="tweet_list">
                        <li class="tweet_content item">
                            <p class="tweet_link"><a href="#">@essentialhomecare </a> I need you to contact my customer care representative</p>
                            <span class="time">18 September 2018</span>
                        </li>
                        <li class="tweet_content item">
                            <p class="tweet_link"><a href="#">@essentialhomecare </a> I need you to contact my customer care representative</p>
                            <span class="time">20 September 2018</span>
                        </li>
                    </ul>
                </div>
                <div class="widget_content">
                    <div class="tweet_go"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="widget_title">
                    <h4><span>Flickr Gallery</span></h4>
                </div>
                <div class="widget_content">
                    <div class="flickr">
                        <ul id="flickrFeed" class="flickr-feed"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->

<section class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <p class="copyright">&copy; Copyright Essential home care | Powered by  <a href="#">AniB Tech</a></p>
            </div>

            <div class="col-lg-6 ">
                <div class="footer_social">
                    <ul class="footbot_social">
                        <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#." data-placement="top" data-toggle="tooltip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="skype" href="#." data-placement="top" data-toggle="tooltip" title="Skype"><i class="fa fa-skype"></i></a></li>
                        <li><a class="rss" href="#." data-placement="top" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>