<% include header.ejs %>
<section class="wrapper">
    <section class="page_head" data-href="/public/images/page_header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2 style="font-size: 30px;">Request a brochure</h2>
                        <span class="sub_heading">Call today, care tomorrow. A fully managed service for total peace of mind.</span>
                    </div>
                    <nav id="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="">Home</a></li>
                            <li>Live-in care</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="content blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="blog_large">
                        <article class="post">
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Request a free brochure today</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p style="font-weight: bold;">Get in touch to request a copy of our brochure with more details about our home care services and how we can support you and your family.</p>
                                    <p>Complete the short form below and we'll pop a copy of our brochure in the post</p>
                                </div>
                            </div>
                            <form id="contactForm" action="" novalidate="novalidate">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-6 ">
                                            <label>Last name <span style="color: red;">*</span></label>
                                            <input type="text" id="lname" name="lname" class="form-control" >
                                        </div>
                                        <div class="col-lg-6 ">
                                            <label>First name <span style="color: red;">*</span></label>
                                            <input type="text" id="fname" name="fname" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 ">
                                            <label>Phone Number <span style="color: red;">*</span></label>
                                            <input type="text" id="phone" name="phone" class="form-control" >
                                        </div>
                                        <div class="col-lg-6 ">
                                            <label>Email Address <span style="color: red;">*</span></label>
                                            <input type="email" id="email" name="email" class="form-control" placeholder="Your E-mail" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <label>When would you like care to start? <span style="color: red;">*</span></label>
                                            <select class="form-control" name="service">
                                                <option value="">Select</option> 
                                                <option value="">Not sure </option> 
                                                <option value="">Live-in care brochure</option>  
                                                <option value="">Visiting care brochure</option>
                                                <option value="">Both</option>
                                            </select>  
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Which Brochure(s) do you require? <span style="color: red;">*</span></label>
                                            <select class="form-control" name="service">
                                                <option value="">Select</option>
                                                <option value="">Within a week</option>
                                                <option value="">Within a month</option> 
                                                <option value="">3 months</option>  
                                                <option value="">6 months</option> 
                                                <option value="">Not sure</option>
                                            </select>  
                                        </div>
                                    </div>
                                </div>
                                <p>By sending this message, you are opting to recive information about our home care services and for us to contact you directly.</p><br>
                                <p>You can unsubscribe from this at any time. See our full <a href="#">privacy policy</a></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" data-loading-text="Loading..." class="btn btn-default btn-lg" value="Send Message">
                                    </div>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>

                <!--Sidebar Widget-->
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="sidebar">  <!--style="box-shadow: 0.4px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);"-->
                        <div class="widget_search" style="margin-bottom: 40px; box-shadow: 0.4px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);">
                            <div class="site-search-area">
                                <form method="get" id="site-searchform" action="#">
                                    <div>
                                        <input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text" />
                                        <input id="searchsubmit" value="Search" type="submit" />
                                    </div>
                                </form>
                            </div><!-- end site search -->
                        </div>

                        <div class="widget_categories">
                            <div class="dividerHeading">
                                <h4><span>Home care services</span></h4>
                            </div>
                            <ul class="arrows_list right-arrow list_style">
                                <div  class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Personal care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Domiciliary care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Respite care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Dementia care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Overnight care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Palliative care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Elderly care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Support for younger people</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Condition-led care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Housekeeping service</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Emergency home care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Carer supported holidays</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Alternative to care homes</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;End-of-life care</li></a>
                                </div>
                                <div class="menu-cat">
                                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Home care for Christmas and New Year</li></a>
                                </div>
                            </ul>
                            <br>
                        </div>
                        <div class="blogPic">
                            <div class="news-thumb">
                                <div class="thumbnail" style="text-align: center;">
                                    <h2 style="padding-bottom: 10px;"> What is in your mind</h2>
                                    <div class="swipe" id="slider" style="visibility: visible;">
                                        <ul class="swipe-wrap" style="width: 904px; border-radius: 4px; background-color: #F4F4F4;;">
                                            <li>
                                                <h3>"Excellent live in care"</h3>
                                                <i>6 September 2018</i>
                                                <p style="padding: 0px 25px;">My mum has tow amazing live in cares not only do they care for her beautifully, they make her happy and enable her to enjoy things we never thought possible after a devastating stroke.</p>
                                            </li>
                                            <li>
                                                <h3>"Fantastic live in care"</h3>
                                                <i>18 August 2018</i>
                                                <p style="padding: 0px 25px;">Helping Hands provided live-in care for my mother for over 10 years.</p>
                                            </li>
                                            <li>
                                                <h3 style="padding: 0px 25px;">"Carers who really do CARE about the person they look after"</h3>
                                                <i>6 November 2018</i>
                                                <p style="padding: 0px 25px;">I want to say than you for they very flexible support that has been given in quite difficult circumstances.</p>
                                            </li>
                                            <li>
                                                <h3>"Excellent live in care"</h3>
                                                <i>6 September 2018</i>
                                                <p style="padding: 0px 25px;">My mum has tow amazing live in cares not only do they care for her beautifully, they make her happy and enable her to enjoy things we never thought possible after a devastating stroke.</p>
                                            </li>                                        
                                        </ul>
                                        <div class="swipe-navi">
                                            <div onclick="mySwipe.prev()" class="swipe-left"><i class="fa fa-chevron-left"></i></div>
                                            <div onclick="mySwipe.next()" class="swipe-right"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="shares">
                            <li class="shareslabel"><h3>Share the story</h3></li>
                            <li><a class="twitter" href="#" data-placement="bottom" data-toggle="tooltip" title="Twitter"></a></li>
                            <li><a class="facebook" href="#" data-placement="bottom" data-toggle="tooltip" title="Facebook"></a></li>
                            <li><a class="gplus" href="#" data-placement="bottom" data-toggle="tooltip" title="Google Plus"></a></li>
                            <li><a class="pinterest" href="#" data-placement="bottom" data-toggle="tooltip" title="Pinterest"></a></li>
                            <li><a class="yahoo" href="#" data-placement="bottom" data-toggle="tooltip" title="Yahoo"></a></li>
                            <li><a class="linkedin" href="#" data-placement="bottom" data-toggle="tooltip" title="LinkedIn"></a></li>
                        </ul>
                    </div>
                </div>
            </div><!--/.row-->
        </div> <!--/.container-->
    </section>
</section>


<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.easing.1.3.js"></script>
<script src="/public/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="/public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script type="text/javascript" src="/public/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/public/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/jquery.blurr.js"></script>
<!---->

<script src="/public/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>

<% include footer.ejs %>