<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" class="no-js" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Essential Home care</title>
        <meta name="description" content="">

        <!-- CSS FILES -->
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/style.css" />
        <link rel="stylesheet" href="/public/css/img-style.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" media="screen" data-name="skins">
        <link rel="stylesheet" href="/public/css/layout/wide.css" data-name="layout">
        <link rel="stylesheet" href="/public/css/my_style.css" />
        <link rel="stylesheet" href="/public/css/fractionslider.css"/>
        <link rel="stylesheet" href="/public/css/style-fraction.css"/>
        <!-- css from w3.css for the housekeeper and driver pages -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
         <!--css to control fonts of the profile pages  -->
         <link rel="stylesheet" href="/public/css/profiles.css">
        <!--css google fonts for the profile sites  -->
        <link href="https://fonts.googleapis.com/css?family=Arsenal|Cormorant+Infant|Italianno|Rouge+Script|Tangerine" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/public/css/switcher.css" media="screen" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--Start Header-->
        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 hidden-xs top-info">
                            <span><i class="fa fa-phone"></i>Phone: (+234) 90-5555-6666</span>
                            <span><i class="fa fa-envelope"></i>Email: essentialhomecare@gmail.com</span>
                        </div>
                        <div class="col-sm-5 top-info">
                            <ul>
                                <li><a href="" class="my-tweet"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="my-facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="my-skype"><i class="fa fa-skype"></i></a></li>
                                <li><a href="" class="my-pint"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="" class="my-rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="" class="my-google"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LOGO bar -->
            <div id="logo-bar" class="clearfix">
                <!-- Container -->
                <a href="/"> 
                    <div class="container">
                        <div class="row">
                            <!-- Logo / Mobile Menu -->
                            <div class="col-xs-12">
                                <div id="logo">
                                    <img src="/public/images/logos.png" alt="Velocity" />
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Container / End -->
            </div>
            <!--LOGO bar / End-->

            <!-- Navigation
    ================================================== -->
            <div class="navbar navbar-default navbar-static-top container" role="navigation">
                <!--  <div class="container">-->
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/homecare">Home care service</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/live-in-care">Live-in care</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">What is live-in care?</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/who-is-live-in-care-for">Who is live-in care for?</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/cost-of-live-in-care">Cost of live-in care</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/visiting-care">Visiting care</a>
<!--                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="">What is visiting care?</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Find care in your area</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="typography.php">Costs of visiting care</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                        </ul>-->
                                    </li>
                                    <li>
                                        <a href="">Nursing care</a>
<!--                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="">Maternity Nurse</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">What is visiting care?</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="typography.php">Costs of visiting care</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                        </ul>-->
                                    </li>
                                    <li>
                                        <a href="">Dementia care</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Overnight care</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Care costs</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/form">Request a brochure</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/form_2">Find perfect carer</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/form_3">Request Callback</a>
                                                <ul class="dropdown-menu">
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Elderly care</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Emargency care</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Personal care</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Mother's Help</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Young people care</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="#">House Keeping</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Housekeeper</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Nanny</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Housekeeper / Nanny</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Companion / Housekeep</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Housekeeper / Cook</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Cook / Chef</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Dog Nanny</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Domestic Couple</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Drivers</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Chauffeur / Driver</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Gardener / Driver / Handyman</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Security</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Security Staff</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Security / Gateman</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Private PA</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">Personal Assistance</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Confidencial Secetory</a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#"> <i class="fa fa-user"></i>&nbsp; User</a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Large Image</a></li>
                                    <li><a href="">Medium Image</a></li>
                                    <li onclick="document.getElementById('model-wrapper').style.display = 'block'"><a href="#"> <i class="fa fa-user"></i>&nbsp; User log</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    Search &nbsp;<i class="fa fa-search" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <div class="search-box">
                                        <input type="text" placeholder="Search for cares">
                                        <input type="button" value="search">
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="model-wrapper" class="model">
                        <div class="model-content animate">
                            <form method="POST"  action="">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('model-wrapper').style.display = 'none'" class="closed" title="Close PopUp">&times;</span>
                                </div>
                                <div style="padding-bottom: 20px;">
                                    <div class="row">
                                        <div class="form-group"style="padding: 0px 20px; padding-top: 10px;">
                                            <div class="col-md-12">
                                                <h2>Enter your information correctly below</h2>
                                                <p>Please provide your name and contact info so we can get in touch to confirm the full details.</p>
                                            </div>
                                            <div class="col-lg-6 ">
                                                <input type="text" required id="fname" name="fname" class="form-control" maxlength="100" placeholder="Your Last Name" >
                                            </div>
                                            <div class="col-lg-6 ">
                                                <input type="text" required id="lname" name="lname" class="form-control" maxlength="100"  placeholder="Your First Name" >
                                            </div>
                                            <div class="col-lg-6 ">
                                                <input type="text" id="name" required name="phone" class="form-control" maxlength="100" placeholder="Your Active Phone Number" >
                                            </div>
                                            <div class="col-lg-6 ">
                                                <input type="email" required id="email" name="email" class="form-control" maxlength="100" data-msg-required="Please enter your email address." value="" placeholder="Your Active E-mail" >
                                            </div>
                                            <div class="col-md-12 text-center" style="margin: 5px 5px;">
                                                <p>Please select your preferred appointment date and time</p>
                                            </div>
                                            <div class="col-lg-6 ">
                                                <input type="date" required id="checkin" style="color: black;" class="form-control">
                                            </div>
                                            <div class="col-lg-6 ">
                                                <input type="time" required id="checkin" style="color: black;" class="form-control">                           
                                            </div>

                                            <div class="col-md-12 text-center" style="margin-top: 20px;">
                                                <p>By sending this maessage, you are opting to recieve information about our home care services and for us to contact you directly.</p>
                                                <p>You can unsubscribe from this at any time. See our full <a href="#">privacy promise.</a></p>
                                            </div>
                                            <div class="col-lg-6" style="float: left;">
                                                <input type="submit" data-loading-text="Loading..." class="btn btn-default btn-lg" value="Send Message">
                                            </div>
                                            <div class="col-lg-6" style="float: right; margin-top: 13px;">
                                                <input type="checkbox" required value="Send Message">
                                                Click the check box to accepted our <a href="#">Terms and Condition</a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <script>
                        var model = document.getElementById('model-wrapper');
                        window.onclick = function (event) {
                            if (event.target == model) {
                                model.style.display = "none";
                            }
                        }
                    </script>
                </div><!--/.row -->
                <!--</div>--><!--/.container -->
            </div>
        </header>
