<% include header.ejs %>
<!--start wrapper-->
<section class="wrapper">
    <section class="page_head" data-href="/public/images/page_header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2 style="font-size: 30px;">Home care service</h2>
                        <span class="sub_heading">Call today, care tomorrow. Complete peace of mind through a fully managed service.</span>
                    </div>
                    <nav id="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="/">Home</a></li>
                            <li>Home care service</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="content blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="blog_large">
                        <article class="post">
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Home care service from our family to yours</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        <strong>
                                            The flexibility of homecare enables you to live safely and comfortably in the home you know best. From daily or weekly care visits, right
                                            through to the dedicated support of a live-in carer, there are plenty of home care services available – and even on a temporary basis.                                        
                                        </strong>
                                    </p>
                                    <p>
                                        By choosing Essential Home Care Service, you’re safe in the knowledge that the support is fully regulated, 
                                        with nearly 4 years’ experience in the sector, we’re widely recognised as one of
                                        Nigeria top home care providers, and the only one that is endorsed as a Centre of Excellence.                                    
                                    </p>
                                    <blockquote class="default">
                                        Offering the full range of home care services, you can flex your service to match your current needs, whether that’s 
                                        switching between a live-in carer and a visiting carer or receiving nursing care if your health care needs have changed. We’re here through it all, to fully support you.
                                    </blockquote>
                                    <p>
                                        Learn more about how one of our trusted carers can support you in your home. We’re always here to help, so please get in touch to talk through your needs. Call us today on 09055556666                                        
                                    </p>
                                </div>
                                <div style="margin-top: 10px;" class="row sub_content">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form_3.php"><button class="btn btn-default btn-block" style="border-radius: 20px;" type="button"><strong >Request a callback &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form.php"><button class="btn btn-default btn-block" style="border-radius: 20px; background-color: #ff6666;" type="button"><strong>Request a brochure &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <h2>What does home care service mean?</h2>
                                    <p>
                                        Home care offers the extra support, reassurance and companionship that may be needed for you to continue living at home as independently as possible.
                                    </p>
                                    <p>
                                        There are times when we all need a little extra support. Whether it is help with the household chores, personal care, medication or mobility, a dedicated carer or personal assistant can be there to provide peace of mind.
                                    </p>
                                    <p>
                                        But home care is not confined to the home. Your chosen carer can enable you to get out and about to pursue your hobbies, interests and living an independent life. You can even receive support
                                        while you’re on holiday or on visits to see family and friends.
                                    </p>
                                    <h3>Types of Homecare</h3>
                                    <p>Care and support comes in all shapes and sizes.<br>You can arrange daily or weekly visits at times that suit, during the day or overnight. If you want support on-hand 24/7, our dedicated live-in care service is the one for you.</p>
                                </div>
                            </div>

                            <div class="carousel">

                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>How visiting care works</h3> 
                                                <p>How visiting care works at Essential Home Care <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v2.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>Who is visiting care for?</h3> 
                                                <p>Home visit for adults of all ages, nationwide<br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v3.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>Visiting care expertise</h3> 
                                                <p>Meet some of our dedicated carers <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v4.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>From visiting care to live-in care</h3> 
                                                <p>Peace of mind with ongoing live-in support <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p style="margin-top: 10px;"><span style="font-size: 16px;">See our full range of </span><a href="#"><span style="font-size: 16px; font-weight: bold; color: #00AAF1;">home care services.</span></a></p>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">What a nationwide homecare provider can do</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        Not all homecare is regulated. By choosing a regulated nationwide provider you are opting for a 
                                        service that is managed from start to finish by a specialist care manager and their support team.
                                    </p>
                                    <blockquote class="default">
                                        This means that your carer’s pay, training and appraisals are all handled for you, as are 
                                        regular checks and supervisions to ensure you’re receiving the best possible care. You also 
                                        have guaranteed cover for when your carer takes a break or goes on holiday – this is all arranged for you.
                                    </blockquote>
                                    <p>
                                        Care needs can change, and sometimes quite suddenly. By choosing a nationwide specialist you 
                                        have the expertise of a network of Registered Managers and clinical specialists who are all trained within the NHS.
                                    </p>
                                    <p>
                                        Essential home care service is commonly regarded as Nigeria’s specialists in homecare. We’re local to you – 
                                        with a family-run team of award-winning experts spread across all corners of Nigeria.
                                    </p>
                                    <h2>How much does homecare cost?</h2>
                                    <p>The cost of homecare depends on the type of service you’re looking for.</p>
                                    <p>
                                        Home care visits start from £17.50 per hour for a fully trained carer to offer support within your own home. 
                                        Prices are also available for 30-min or 45-min visits, and there are set prices for overnight calls.
                                    </p>
                                    <p>
                                        For the 24-hour support of a live-in carer, prices start from £1,015 per week, which is close to the weekly cost of a care home.
                                        Daily prices are available for temporary live-in care for less than two weeks.
                                    </p>
                                    <p>
                                        Unlike homecare agencies, these costs include the setting up and ongoing management of your package of care, including a 
                                        free and no-obligation meeting with a specialist to discuss the options.
                                    </p>
                                </div>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Other people are interested in...</span></p>
                                    <hr>
                                    <p style="font-size: 15px;">
                                        We're here seven days a week to talk through your home care needs and find the best option for you.
                                        Call <strong>09055556666</strong> or <a href="form_3.php"><strong>request a call</strong></a> and will will call you.
                                    </p>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care1.jpg"class="img-thumbnail">
                                    </div>
                                    <h3>Nursing care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Elderly care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care2.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Support for younger people</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <!--Sidebar Widget-->
                <% include sidebar-right.ejs %>
            </div><!--/.row-->
        </div> <!--/.container-->
    </section>
</section>
<!--end wrapper-->

<!--start footer-->
<!--start footer-->

<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.easing.1.3.js"></script>
<script src="/public/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="/public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script type="text/javascript" src="/public/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/public/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/jquery.blurr.js"></script>
<!---->

<script src="/public/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>
<% include header.ejs %>