<% include header.ejs %>
<!--start wrapper-->
<section class="wrapper">

    <!--Start Slider-->
    <div class="slider-wrapper">
        <div class="slider">
            <div class="fs_loader"></div>
            <div class="slide">
                <img src="public/images/fraction-slider/index-slider3.jpg"  width="1920" height="auto" data-in="fade" data-out="fade" />

                <p class="slide-heading" data-position="130,370" data-in="top" data-out="top" data-ease-in="easeOutBounce" data-delay="1500">Essential Home Care Services</p>

                <p class="sub-line" data-position="230,370" data-in="right" data-out="left" data-delay="2500">Support and home care for you and your loved ones</p>

                <img src="public/images/fraction-slider/gadgets/page.jpg" style="border-radius: 4px;" width="456" height="272" data-position="115,1180" data-in="bottom" data-out="bottom" data-delay="400">

                <a href="" class="btn btn-default btn-lg" data-position="320,370" data-in="bottom"  data-out="bottom" data-delay="3500">Contact us now</a>
            </div>

            <div class="slide">
                <img src="public/images/fraction-slider/index-slider1.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />

                <p class="slide-heading" data-position="130,380" data-in="right"  data-out="left" data-ease-in="jswing">A carer who really cares </p>

                <p class="sub-line" data-position="225,380" data-in="right" data-out="left"  data-delay="1500">"For every minute you are angry, you lose sixty<br><br>  seconds of happiness. let us be there for you."</p>

                <img src="public/images/fraction-slider/be-happy.jpg" style="border-radius: 4px;" width="600" height="320" data-position="115,1180" data-in="bottom" data-out="bottom" data-delay="400">

            </div>

            <div class="slide">

                <img src="public/images/fraction-slider/index-slider2.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />

                <img src="public/images/fraction-slider/be-happy1.jpg" style="border-radius: 4px;" width="500" height="320" data-position="115,1180" data-in="bottom" data-out="bottom" data-delay="400">

                <p class="slide-heading" data-position="130,380" data-in="top"  data-out="left" data-ease-in="easeOutBounce" data-delay="700">Family means every thing to us,</p>

                <p class="sub-line" data-position="230,380" data-in="right" data-out="left" data-delay="1500">Just as it means everything to our customers.</p>

                <a href=""	class="btn btn-default btn-lg" data-position="330,380" data-in="bottom" data-out="bottom" data-delay="2000">Contact us now</a>
            </div>

        </div>
    </div>
    <!--End Slider-->
    <!--Start Wrapper-->
    <section class="wrapper">
        <!--- start promo_box dark--->
        <section class="promo_box dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="promo_content">
                            <h3>We are carers who really do love to care, because</h3>
                            <p style="color: white; font-weight: bold;">"There is nothing more beautiful than someone who goes out of their way to make life beautiful for others. let us ease your mind"</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="pb_action">
                            <a class="btn btn-lg btn-default" href="#fakelink">
                                <i class="fa fa-bank"></i>
                                Looking for a job?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---- End promo_box dark ---->
        <!--start info service-->
        <section class="content blog">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="blog_large">
                            <article class="post">
                                <figure class="post_video thumbnail" style="text-align: center; margin-top: -9%; box-shadow: 0.4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);">
                                    <div style="margin-top: -9.3%;">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <video controls >
                                                <source class="play" src="public/video/v.MP4" type="video/mp4">
                                            </video>
                                        </div>
                                        <h3 class="text-shadow">How live-in care is helping Ola and his family</h3>
                                    </div>
                                </figure>

                                <div class="row sub_content">
                                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                        <p><span style="font-size: 25px; font-weight: bold;">Choose a fully managed service for total peace of mind</span></p>
                                        <hr>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                        <p style="font-weight: bold;"> Whether you're looking for 24-hour live-in care or some extra support little and often, at Essential Home Care we arrange and manage home care that is completely unique to you and your situation.</p>
                                        <p>
                                            As a family-run home care provider with nearly 3 years’ experience, we take pride in offering adults of all ages – and with many varying medical conditions – the expert care and support they need to live independently at home.
                                        </p>
                                        <blockquote class="default">We help to match you with a fully trained carer, who fits into your life and respects your space and dignity at all times. Every single Essential Home carer is directly employed, expertly trained and managed by us. What’s more, we handle every aspect of your home care for you so you can focus on other important things, like being a family. Read about our carers.</blockquote>
                                        <p>It can be daunting to acknowledge that care is needed. Let us put your mind at ease – call us today to see how we can support you and to get a full quote.</p>
                                    </div>
                                </div>

                                <div class="carousel">
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/care3.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>House Keeper / Nanny</h3> 
                                                    <p>Quality house keeper service, in Nigeria <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s9.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Drivers</h3> 
                                                    <p>An experice driver here in Nigeria <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                 <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s8.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Security</h3> 
                                                    <p>Hire our security to feel save <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s3.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Private PA</h3> 
                                                    <p>Quality personal assigtance at your service <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s1.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Live-in care</h3> 
                                                    <p>Quality care at home, in Nigeria <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s2.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Visiting care</h3> 
                                                    <p>Little and often, our visiting care makes a real difference <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s7.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Dementia care</h3> 
                                                    <p>Familiarity and friendly face, for those living with dementia <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s4.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Nursing care</h3> 
                                                    <p>Supporting independent living whatever your care needs <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/s5.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Emergency home care</h3> 
                                                    <p>Receive expert support within as little as 24 hours <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6  rec_blog">
                                            <div class="blogPic">
                                                <img alt="" src="public/images/blog/v2.jpg" style="border-radius: 4px; max-height: 185px;">
                                                <div class="inside">
                                                    <h3>Cook / Chef</h3> 
                                                    <p>Professional Cook and a chef at your sevice <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="margin-top: 10px;"><span style="font-size: 16px;">See our full range of </span><a href="#"><span style="font-size: 16px; font-weight: bold; color: #00AAF1;">home care services.</span></a></p>
                                </div>
                                <div class="row sub_content">
                                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                        <p><span style="font-size: 25px; font-weight: bold;">Why 20,000 families have already chosen us</span></p>
                                        <hr>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                        <p>Care with us is just as flexible as it is professional. As the only home care company providing the full range of services, you can easily alter the support you receive if or when your needs change. And, because we have many carers across the country, and several branches nationwide we guarantee cover for our customers. With us, you will never be left stranded.</p>
                                        <p>We work with you, your family, your GP, the hospital and many clinical commissioning groups and local authorities to provide the right level of care and medical support to suit you.
                                        </p>
                                        <blockquote class="default">Your chosen carer can provide companionship and help around the home, that’s cooking your favourite meals or keeping the bathroom clean. They can also help with mobility issues, personal care and many areas of nurse-led support.</blockquote>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                        <p><span style="font-size: 25px; font-weight: bold;">An endorsed home care provider with family values</span></p>
                                        <hr>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                        <p> Today, as one of the largest and most respected home care providers in Nigeria, those same family values exist and guide every part of Essential Home Care, just as they did years ago.
                                        </p>
                                        <p>We’re the only home care provider to be endorsed by the social welfare sector, recognising our long-term commitment to high-quality carer training.
                                        </p>
                                    </div>
                                </div>

                                <div class="widget widget_tab">
                                    <ul class="nav nav-tabs" style="font-weight: bold;">
                                        <li class="active"><a href="#Popular" data-toggle="tab">Why choose us</a></li>
                                        <li class=""><a href="#Recent" data-toggle="tab">Looking for prices?</a></li>
                                        <li class=""><a href="#Recent-Comment" data-toggle="tab">Funding options</a></li>
                                    </ul>

                                    <div  class="tab-content clearfix text-p-size">
                                        <div class="tab-pane fade active in" id="Popular">
                                            <p>We pride ourselves on providing the highest quality home care in England and Wales.</p>
                                            <h3>Flexible home care options</h3>
                                            <ul class="list_style circle">
                                                <li>Full range of services – from live-in through to visiting care</li>
                                                <li><a href="#"><span style="font-weight: bold; color: #00AAF1;">Respite care</span></a> – extra help so your normal carer can have a break</li>
                                                <li><a href="#"><span style="font-weight: bold; color: #00AAF1;">Nursing care</span></a> – expert support for those with more complex healthcare needs</li>
                                                <li><a href="#"><span style="font-weight: bold; color: #00AAF1;">Specialists in dementia care</span></a> – every carer is trained to support someone living with dementia</li>
                                            </ul>
                                            <h3>How we care</h3>
                                            <ul class="list_style circle">
                                                <li>We're local to you  - in so many branches nationwide and growing</li>
                                                <li>We're not an agency - we employ every carer directly</li>
                                                <li>All of our carers are fully trained</li>
                                            </ul>
                                            <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                                <!-- Standard button -->
                                                <button class="btn btn-default btn-block" type="button"><span >More about us <i class="fa fa-chevron-right"></i></span></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Recent">
                                            <p>The cost of live-in care is very much dependent on your personal needs</p>
                                            <h3>Care fees made simple</h3>
                                            <p>Please call us today for a bespoke quote and to find out how we can support you.</p>
                                            <p>When you call, one of our friendly advisers will give you an estimate there and then over the phone. The final price will be confirmed once your local care specialist visits you in person, as part of your free non-obligatory consultation.</p>
                                            <p>Call us on <span style="font-weight: bold;">09055556666,</span> or request a free callback via the button below</p>
                                            <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                                <!-- Standard button -->
                                                <button class="btn btn-default btn-block" type="button"><span >Request a callback <i class="fa fa-chevron-right"></i></span></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Recent-Comment">
                                            <p>We’re here to help you navigate the funding options for you or your loved-one’s live-in care.</p>
                                            <h3>Local authority funding</h3>
                                            <p>You may be entitled to care funding through your local authority – contact your local authority for a financial assessment or speak to us to find out more.</p>
                                            <h3>Continuing healthcare funding</h3>
                                            <p>This may be available if you need a full-time carer for health reasons. It includes funding to cover personal care, nursing care and any costs related to household adjustments due to your health condition.</p>
                                            <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                                <!-- Standard button -->
                                                <button class="btn btn-default btn-block" type="button"><span >More on funding <i class="fa fa-chevron-right"></i></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>

                    <!--Sidebar Widget-->
                    <% include sidebar-right.ejs %>
                </div><!--/.row-->
            </div> <!--/.container-->
        </section>
        <!--end info service-->
        <!-- Parallax & Get Quote Section -->
        <section class="parallax parallax-1">
            <div class="container">
                <!--<h2 class="center">Testimonials</h2>-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-item text-shadow">
                            <h4>
                                Why choose Essential Home Care? </h4>
                            <p style="color: #fff;">
                                We treat our carers like family. Because they are,<br>
                                after all,they are looking after yours
                            </p>
                            <a class="btn btn-default" href="">Find out more</a>
                            <em>Or Call Us
                                <strong style="color: #e8f2ff;">
                                    +234-9055-5566-66
                                </strong>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Parallax & Get Quote Section -->

        <!--start info service-->
        <section class="info_service">
            <div class="container">
                <div class="row sub_content">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="serviceBox_2">
                            <i class="fa fa-phone"></i>
                            <h3>Request a call</h3>
                            <p style="font-weight: bold; font-size: 15px; padding-bottom: 15px;">Just drop us a line and we will call you, at a time that suits you best.</p>
                            <!-- Indicates a successful or positive action -->
                            <a href="/form_2"><button class="btn btn-info btn-lg btn-block" type="button"> Call me back</button></a> 
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="serviceBox_2">
                            <i class="fa fa-comment"></i>
                            <h3>Book a free assessment</h3>
                            <p style="font-weight: bold; font-size: 15px; padding-bottom: 15px;">Get in touch to talk through your needs and arrange a free home visit.</p>
                            <!-- Indicates a successful or positive action -->
                            <a href="/form_3"> <button class="btn btn-info btn-lg btn-block" type="button"> Get my free assessment</button> </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="serviceBox_2">
                            <i class="fa fa-file"></i>
                            <h3>Request a brochure</h3>
                            <p style="font-weight: bold; font-size: 15px; padding-bottom: 15px;">Learn more about our home care services in our free brochures.</p>
                            <!-- Indicates a successful or positive action -->
                            <a href="/form"> <button class="btn btn-info btn-lg btn-block" type="button"> Get my brochure</button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end info service-->

        <section class="clients">
            <div class="container">
                <div class="row sub_content">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="dividerHeading">
                            <h4><span>Our Clients</span></h4>
                        </div>

                        <div class="our_clients">
                            <ul class="client_items clearfix">
                                <li class="col-sm-3 col-md-3 col-lg-3"><a href="services.php"  data-placement="bottom" data-toggle="tooltip" title="Client 1" ><img src="public/images/clients/partnerr1.jpg" alt="" /></a></li>
                                <li class="col-sm-3 col-md-3 col-lg-3"><a href="services.php" data-placement="bottom" data-toggle="tooltip" title="Client 2" ><img src="public/images/clients/partnerr2.jpg" alt="" /></a></li>
                                <li class="col-sm-3 col-md-3 col-lg-3"><a href="services.php" data-placement="bottom" data-toggle="tooltip" title="Client 3" ><img src="public/images/clients/partnerr3.jpg" alt="" /></a></li>
                                <li class="col-sm-3 col-md-3 col-lg-3"><a href="services.php" data-placement="bottom" data-toggle="tooltip" title="Client 4" ><img src="public/images/clients/partnerr4.jpg" alt="" /></a></li>
                            </ul><!--/ .client_items-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--end wrapper-->

    <script type="text/javascript" src="public/js/jquery-1.10.2.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/jquery.easing.1.3.js"></script>
    <script src="public/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.cookie.js"></script> <!-- jQuery cookie --> 
    <script type="text/javascript" src="public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
    <script src="public/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="public/js/jquery.smartmenus.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.smartmenus.bootstrap.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="public/js/jflickrfeed.js"></script>
    <script type="text/javascript" src="public/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="public/js/swipe.js"></script>


    <script src="public/js/main.js"></script>

    <!-- Start Style Switcher -->
    <div class="switcher"></div>
    <!-- End Style Switcher -->
    <script>
        $(window).load(function () {
            $('.slider').fractionSlider({
                'fullWidth': true,
                'controls': true,
                'responsive': true,
                'dimensions': "1920,450",
                'timeout': 5000,
                'increase': true,
                'pauseOnHover': true,
                'slideEndAnimation': false,
                'autoChange': true
            });
        });
    </script>

<% include footer.ejs %>