<% include header.ejs %>
<!--start wrapper-->
<section class="wrapper">
    <section class="page_head" data-href="/public/images/page_header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2 style="font-size: 30px;">Live-in care</h2>
                        <span class="sub_heading">Call today, care tomorrow. Complete peace of mind through a fully managed service.</span>
                    </div>
                    <nav id="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="/">Home</a></li>
                            <li>Live-in care</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="content blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="blog_large">
                        <article class="post">
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Quality care at home, across Nigeria</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p><strong>
                                            Live-in care helps you live the life you want on your own terms. By listening and getting to know you, we’ll put a unique package of 
                                            support in place for you with a carefully chosen carer. Together, we’ll help you stay in the home you know and love.  
                                        </strong>
                                    </p>
                                    <blockquote class="default">Thousands of families are choosing live in care as a valuable alternative to a residential care home. For over 3 years, we’ve been offering adults of all ages the extra comfort and reassurance of 24-hour one-to-one live-in support. 
                                        With Essential Home Care, this is a dedicated and fully managed service that comes fully regulated.</blockquote>
                                    <p>Only the very best carers are chosen to join the Essential Home Care. In fact, just 2% of applicants pass our strict checks and thorough industry-accredited training. We’re Nigeria only home care provider to be endorsed as a 
                                        Centre of Excellence, and we provide ongoing support to you and your career throughout your care package.</p>
                                    <p>Acknowledging and admitting that care is needed can be daunting. Let us put your mind at ease. We’re here to help, so call us today to discuss the options on <strong>09055556666.</strong></p>
                                </div>
                            </div>
                            <div class="carousel">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/s7.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>How live-care works</h3> 
                                                <p>Constant care and peace of mind,at Essential Home Care <br><a href="#"><span style="font-weight: bold; color: #fff">Find out more&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/care.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>What is live-in-care?</h3> 
                                                <p>Full-time support within your own home <br><a href="#"><span style="font-weight: bold; color: #fff">Find out more&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/care2.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>Who is live-in care for?</h3> 
                                                <p>Custom-made home care for adults of all ages <br><a href="#"><span style="font-weight: bold; color: #fff">Find out more&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/care3.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>From visiting care to live-in care</h3> 
                                                <p>Peace of mind with ongoing live-in support <br><a href="#"><span style="font-weight: bold; color: #fff">Find out more&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p style="margin-top: 10px;"><span style="font-size: 16px;">See our full range of </span><a href="#"><span style="font-size: 16px; font-weight: bold; color: #00AAF1;">home care services.</span></a></p>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Why is Live-in care different?</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        Moving to a new home is a stress for anyone, even at the best of times. Couple that with moving into residential care – with set routines, set meals and set 
                                        visiting times – and it can become a real strain and disruption to a person’s life.
                                    </p>
                                    <blockquote class="default">Live-in care means you can keep the same daily routines, and friends and family can continue to visit as they normally do. With a spare room in your home, your carer
                                        will be there to support you each day, as much or as little as you like and according to what matters to you most.</blockquote>
                                    <p>Not all home care providers offer a regulated service. Many, in fact, simply introduce you to a carer, meaning that you’ll need to manage their pay, arrange cover for their breaks, 
                                        holidays or if they’re ill, and handle any appraisals or concerns yourself.</p>
                                    <p>With Essential Home Care, we manage all of this – and more – for you. This includes regular reviews of your support plan, carer supervisions and extra training as is needed. 
                                        If your care needs change, we also have an extensive network of clinical carers who offer more complex support.</p>
                                </div>
                            </div>


                            <div class="widget widget_tab">
                                <ul class="nav nav-tabs" style="font-weight: bold;">
                                    <li class="active"><a href="#Popular" data-toggle="tab">Why choose us</a></li>
                                    <li class=""><a href="#Recent" data-toggle="tab">Looking for prices?</a></li>
                                    <li class=""><a href="#Recent-Comment" data-toggle="tab">Funding options</a></li>
                                </ul>

                                <div  class="tab-content clearfix text-p-size">
                                    <div class="tab-pane fade active in" id="Popular">
                                        <p>We pride ourselves on providing the highest quality home care in Nigeria.</p>
                                        <h3>Flexible home care options</h3>
                                        <ul class="list_style circle">
                                            <li>Full range of services – from live-in through to visiting care</li>
                                            <li><a href="#"><span style="font-weight: bold; color: #00AAF1;">Respite care</span></a> – extra help so your regular carer can have a break</li>
                                            <li><a href="#"><span style="font-weight: bold; color: #00AAF1;">Nursing care</span></a> – expert support for those with more complex healthcare needs</li>
                                            <li><a href="#"><span style="font-weight: bold; color: #00AAF1;">Specialists in dementia care</span></a> – every carer is trained to support someone living with dementia</li>
                                        </ul>
                                        <h3>How we care</h3>
                                        <ul class="list_style circle">
                                            <li>We're local to you  - with many branches nationwide and growing</li>
                                            <li>We're not an agency - we employ every carer directly</li>
                                            <li>All of our carers are fully trained</li>
                                            <li>We're a family-run business and experts in home care</li>
                                            <li>We're fully regulated and accredited by the social welfare council</li>
                                        </ul>
                                        <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                            <!-- Standard button -->
                                            <button class="btn btn-default btn-block" type="button"><span >More about us <i class="fa fa-chevron-right"></i></span></button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Recent">
                                        <p>The cost of live-in care is very much dependent on your personal needs</p>
                                        <h3>Care fees made simple</h3>
                                        <p>Please, call us today for a bespoke quote and to find out how we can support you.</p>
                                        <p>When you call, one of our friendly advisers will give you an estimate there over the phone. The final price will be confirmed once your local care specialist visits you in person, as part of your free non-obligatory consultation.</p>
                                        <p>Call us on <span style="font-weight: bold;">09055556666,</span> or request a free callback via the button below</p>
                                        <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                            <!-- Standard button -->
                                            <button class="btn btn-default btn-block" type="button"><span >Request a callback <i class="fa fa-chevron-right"></i></span></button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Recent-Comment">
                                        <p>We’re here to help you navigate the funding options for you or your loved-one’s live-in care.</p>
                                        <h3>Local authority funding</h3>
                                        <p>You may be entitled to care funding through your local authority – contact your local authority for a financial assessment or speak to us to find out more.</p>
                                        <h3>Continuing healthcare funding</h3>
                                        <p>This may be available if you need a full-time carer for health reasons. It includes funding to cover personal care, nursing care and any costs related to household adjustments due to your health condition.</p>
                                        <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                            <!-- Standard button -->
                                            <button class="btn btn-default btn-block" type="button"><span >More on funding <i class="fa fa-chevron-right"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h2><span>How to arrange for live-in care</span></h2>
                                    <hr>
                                </div>
                                <div class="col-md- col-xs-12">
                                    <div id="accordion" class="panel-group accordion"><!-- Accordians -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <span class="accordian-icon">
                                                        <i class="switch fa fa-plus-circle"></i>
                                                    </span>
                                                    <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-phone"></i>&nbsp;&nbsp; <span style="font-weight: bold;">Step 1: Speak to our team</span> <span class="text-shadow" style="font-weight: 900;">Click here</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapseOne">
                                                <div class="panel-body">
                                                    <p>Call us on 09055556666 or send us a message to request a call back. Our team of expertss is here seven days a week to talk you through
                                                        the options and costs.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <span class="accordian-icon">
                                                        <i class="switch fa fa-plus-circle"></i>
                                                    </span>
                                                    <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
                                                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-user-md"></i>&nbsp;&nbsp; <span style="font-weight: bold;">Step 2: A free home care assessment </span><span class="text-shadow" style="font-weight: 900;">Click here</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapseTwo">
                                                <div class="panel-body">
                                                    <p>Your local Essential Home Care manager will visit you to discuss your requirements face-to-face and learn about the type of carer you're looking for.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <span class="accordian-icon">
                                                        <i class="switch fa fa-plus-circle"></i>
                                                    </span>
                                                    <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse">
                                                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-search"></i>&nbsp;&nbsp;<span style="font-weight: bold;"> Step 3: Matching you with a carer </span><span class="text-shadow" style="font-weight: 900;">Click here</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapseThree">
                                                <div class="panel-body">
                                                    <p>We'll help to match you with a carer, providing you with a selection to choose from that meet your preferences and have the necessary skills.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <span class="accordian-icon">
                                                        <i class="switch fa fa-plus-circle"></i>
                                                    </span>
                                                    <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse">
                                                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-heart"></i>&nbsp;&nbsp;<span style="font-weight: bold;"> Step 4: Care begins with extra support </span><span class="text-shadow" style="font-weight: 900;">Click here</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapseFour">
                                                <div class="panel-body">
                                                    <p>We'll make all the arrangements for the arrival of your carer. After that, your manager offers regular reviews, carer supervisions and extra support as needed.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">What do Live-in carers do?</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        A live-in carer is able to take care of tasks like preparing meals, running errands, completing household chores and administering medication. 
                                        They make it possible for individuals in need of care to remain safe, clean and comfortable in their homes.
                                    </p>
                                    <p>We will determine these tasks and routines together during your home care assessment. 
                                        They will be based around your personal requirements and what matters most to you.</p>
                                    <h3>Personalised support</h3>
                                    <ul class="list_style circle">
                                        <li style="margin-left: 5%;">Medication support – both administering or prompting, depending on your requirements</li>
                                        <li style="margin-left: 5%;">Personal care – assistance with washing and dressing while maintaining your dignity</li>
                                        <li style="margin-left: 5%;">Continence care – whether it’s with pads or a catheter or stoma</li>
                                        <li style="margin-left: 5%;">Support with mobility – hoisted transfers, altering position in bed or assistance moving safely around the home</li>
                                        <li style="margin-left: 5%;">Companionship – carers often become more like friends and companions, sharing moments, meals and offering emotional support</li>
                                    </ul>
                                    <h3>Help around the home</h3>
                                    <ul class="list_style circle">
                                        <li style="margin-left: 5%;">Housekeeping – the regular chores including tidying, cleaning, vacuuming and dusting</li>
                                        <li style="margin-left: 5%;">Laundry – washing, drying and even ironing clothes</li>
                                        <li style="margin-left: 5%;">Preparing and cooking meals – to your dietary needs and personal taste</li>
                                        <li style="margin-left: 5%;">Pet care – if you have a pet, your carer will support with walks and feeding</li>
                                        <li style="margin-left: 5%;">Running errands – such as collecting prescriptions or shopping for food</li>
                                    </ul>
                                    <h3>Enabling independence</h3>
                                    <ul class="list_style circle">
                                        <li style="margin-left: 5%;">Support getting out and about – this could be shopping, the cinema, events with family or friends or days out doing something you enjoy</li>
                                        <li style="margin-left: 5%;">Work or university – many of our carers are more like personal assistants</li>
                                        <li style="margin-left: 5%;">Assisted holidays – anything from a weekend in Badagry beach to a tour of Olumo Rock</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Who can benefit from care?</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        Live-in care is available for adults of all ages, from the age of 18 and up. A residential care home is not the only option. With live-in, you can continue to live in the place you know and love.                                    </p>
                                    <h3>Peace of mind for the elderly</h3>
                                    <p>
                                        For an elderly relative or friend, a carer can become a huge source of support, especially for someone who is frail or regularly experiencing falls.
                                    </p>
                                    <p>More than just home help, a live-at-home carer for the elderly, offers families with extra reassurance that someone is there to cook regular meals, administer medication, on-hand in an emergency and also to offer companionship.</p>
                                    <h3>Someone living with dementia</h3>
                                    <p>
                                        If your loved one is living with dementia, the daily support of a familiar face is crucial in easing anxiety and any challenging behaviours. Your regular carer will work for weeks at a time before taking time off, with a regular relief carer who you will get to know too.
                                    </p>
                                    <p>With an extensive team of dementia specialists, we can also offer tips for managing various behaviours associated with dementia. Our focus is on understanding the causes and adjusting support, whether it’s using visual prompts for people and rooms, 
                                        specific tips for mealtimes and rewarding activities such as creating a life story book.We’re always looking to provide the best support we can for those with different types of dementia.</p>
                                    <h3>Other medical conditions</h3>
                                    <p>
                                        Our carers have specialisms with many different conditions, including Parkinson’s support after a stroke, multiple sclerosis, motor neurone disease, diabetes and even depression or anxiety.
                                    </p>
                                    <p>Whatever your condition, we will create a package of care that helps you to live your life in the way you want. Our nurse-led team of Registered Nurses offer extra live-in support as needed, 
                                        and clinical carers are supporting people after a spinal injury or with an acquired brain injury.</p>
                                    <p>Trained palliative carers are also available to support someone at the end of their life. They each provide specialist support to help with the day to day things and enable you or your loved one to pass peacefully at home.</p>
                                    <h3>Temporary support after an operation</h3>
                                    <p>
                                        You may need some temporary care after an accident or planned operation, such as after a knee or hip operation. Even if it’s just for a few days, a carer can help to ease your recovery at home.
                                    </p>
                                    <p>Along with cooking meals and the household chores, your carer can also support with strengthening exercises, based on guidance from your physiotherapist.</p>
                                </div>
                            </div>

                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Other people are interested in...</span></p>
                                    <hr>
                                    <p style="font-size: 15px;">
                                        We're here seven days a week to talk through your home care needs and find the best option for you.
                                        Call <strong>09055556666</strong> or <a href="form_3.php"><strong>request a call</strong></a> and will will call you.
                                    </p>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care1.jpg"class="img-thumbnail">
                                    </div>
                                    <h3>Nursing care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Elderly care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care2.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Support for younger people</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>

                <!--Sidebar Widget-->
                <% include sidebar-right.ejs %>
            </div><!--/.row-->
        </div> <!--/.container-->
    </section>
</section>
<!--end wrapper-->

<!--start footer-->
<!--start footer-->

<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.easing.1.3.js"></script>
<script src="/public/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="/public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script type="text/javascript" src="/public/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/public/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/jquery.blurr.js"></script>
<!---->

<script src="/public/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>
<% include footer.ejs %>