<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="sidebar">  <!--style="box-shadow: 0.4px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);"-->
        <div class="widget_search" style="margin-bottom: 40px; box-shadow: 0.4px 5px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);">
            <div class="site-search-area">
                <form method="get" id="site-searchform" action="#">
                    <div>
                        <input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text" />
                        <input id="searchsubmit" value="Search" type="submit" />
                    </div>
                </form>
            </div><!-- end site search -->
        </div>

        <div class="widget_categories">
            <div class="dividerHeading">
                <h4><span>Home care services</span></h4>
            </div>
            <ul class="arrows_list right-arrow list_style">
                <div  class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Personal care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Domiciliary care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Respite care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Dementia care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Overnight care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Palliative care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Elderly care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Support for younger people</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Condition-led care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Housekeeping service</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Emergency home care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Carer supported holidays</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Alternative to care homes</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;End-of-life care</li></a>
                </div>
                <div class="menu-cat">
                    <a href="#"><li> &nbsp;&nbsp;&nbsp;Home care for Christmas and New Year</li></a>
                </div>
            </ul>
            <br>
        </div>
        <div class="dividerHeading">
            <h4><span>Vimeo Video</span></h4>
        </div>
        <div class="embed-responsive embed-responsive-4by3 thumbnail">
            <video controls>
                <source class="play" src="public/video/v.MP4" type="video/mp4">
            </video>
        </div>

        <div class="widget widget_about">
            <div style="padding: 20px 20px;">
                <div class="widget_title">
                    <h4><span>What does home care mean?</span></h4>
                </div>
                <p>Home care offers the extra support, reassurance and companionship that may be needed for you to continue living at home as independently as is possible.</p>
                <p>There are times when we all need a little extra support. Whether it is help with the household chores, personal care, 
                    medication or mobility, a dedicated carer or personal assistant can be there to provide peace of mind.</p>
                <p>But home care is not confined to the home. Your chosen carer can enable you to get out and about to pursue your hobbies, interests and living an independent life.
                    You can even receive support while you’re on holiday or on visits to see family and friends.</p>
            </div>
        </div>
        <div class="velocity-tab sidebar-tab">
            <div  class="tab-content clearfix">              
            </div>
        </div>
        <div class="blogPic">
            <div class="news-thumb">
                <div class="thumbnail" style="text-align: center;">
                    <h2> Client's Testimony</h2>
                    <div class="swipe" id="slider" style="visibility: visible;">
                        <ul class="swipe-wrap" style="width: 904px; border-radius: 4px; background-color: #F4F4F4;;">
                            <li>
                                <h3>"Excellent live in care"</h3>
                                <i>6 September 2018</i>
                                <p style="padding: 0px 25px;">My mum has tow amazing live in cares not only do they care for her beautifully, they make her happy and enable her to enjoy things we never thought possible after a devastating stroke.</p>
                            </li>
                            <li>
                                <h3>"Fantastic live in care"</h3>
                                <i>18 August 2018</i>
                                <p style="padding: 0px 25px;">Essential Home Care provided live-in care for my mother for over 2 years.</p>
                            </li>
                            <li>
                                <h3 style="padding: 0px 25px;">"Carers who really do CARE about the person they look after"</h3>
                                <i>6 November 2018</i>
                                <p style="padding: 0px 25px;">I want to say than you for they very flexible support that has been given in quite difficult circumstances.</p>
                            </li>
                            <li>
                                <h3>"Excellent live in care"</h3>
                                <i>6 September 2018</i>
                                <p style="padding: 0px 25px;">My mum has tow amazing live in cares not only do they care for her beautifully, they make her happy and enable her to enjoy things we never thought possible after a devastating stroke.</p>
                            </li>                                        
                        </ul>
                        <div class="swipe-navi">
                            <div onclick="mySwipe.prev()" class="swipe-left"><i class="fa fa-chevron-left"></i></div>
                            <div onclick="mySwipe.next()" class="swipe-right"><i class="fa fa-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dividerHeading">
            <h4><span>What Client's Say</span></h4>
        </div>
        <div id="testimonial-carousel" class="testimonial carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <div class="testimonial-item">
                        <div class="icon"><i class="fa fa-quote-right"></i></div>
                        <blockquote>
                            <p>My mum has tow amazing live in cares not only do they care for her beautifully, they make her happy and enable her to enjoy things we never thought possible after a devastating stroke.</p>
                        </blockquote>
                        <div class="icon-tr"></div>
                        <div class="testimonial-review">
                            <img src="public/images/testimonials/1.png" alt="testimoni">
                            <h1>Jonathan Dower,<small>Company Inc.</small></h1>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-item">
                        <div class="icon"><i class="fa fa-quote-right"></i></div>
                        <blockquote>
                            <p>Essential Home Care provided live-in care for my mother for over 2 years.</p>
                        </blockquote>
                        <div class="icon-tr"></div>
                        <div class="testimonial-review">
                            <img src="public/images/testimonials/2.png" alt="testimoni">
                            <h1>Jonathan Dower<small>Leopard</small></h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="testimonial-buttons"><a href="#testimonial-carousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>&#32;
                <a href="#testimonial-carousel" data-slide="next"><i class="fa fa-chevron-right"></i></a></div>
        </div>
        <ul class="shares">
            <li class="shareslabel"><h3>Share the story</h3></li>
            <li><a class="twitter" href="#" data-placement="bottom" data-toggle="tooltip" title="Twitter"></a></li>
            <li><a class="facebook" href="#" data-placement="bottom" data-toggle="tooltip" title="Facebook"></a></li>
            <li><a class="gplus" href="#" data-placement="bottom" data-toggle="tooltip" title="Google Plus"></a></li>
            <li><a class="pinterest" href="#" data-placement="bottom" data-toggle="tooltip" title="Pinterest"></a></li>
            <li><a class="yahoo" href="#" data-placement="bottom" data-toggle="tooltip" title="Yahoo"></a></li>
            <li><a class="linkedin" href="#" data-placement="bottom" data-toggle="tooltip" title="LinkedIn"></a></li>
        </ul>
    </div>
</div>