<% include header.ejs %>
<!--start wrapper-->
<section class="wrapper">
    <section class="page_head" data-href="/public/images/page_header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2 style="font-size: 30px;">Visiting care</h2>
                        <span class="sub_heading">Call today, care tomorrow. Complete peace of mind through a fully managed service.</span>
                    </div>
                    <nav id="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="index_5.php">Home</a></li>
                            <li>Visiting care</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="content blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="blog_large">
                        <article class="post">
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Little and often, our visiting care makes a real difference</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        <strong>
                                            Visiting care offers the support you want, when you need it, so you can continue living from the comfort of your own home. 
                                            With help from as little as half an hour a week and up to several visits a day, a visiting carer can make all the difference.
                                        </strong>
                                    </p>
                                    <p>We’re here with a essential home care when you need it most. From support with your medication and going to the toilet through 
                                        to knowing your favourite meal and whether you prefer a bath or shower, our fully regulated visiting care service lets you continue living the life you want, on your terms.</p>
                                    <blockquote class="default">Essential Home Care is the nation’s most widely rated home care provider and the only one to be endorsed as a Centre of Excellence by Skills for Care. 
                                        With a team of registered nurses who have worked within the NHS, we can offer specialist support for people living with dementia, as well as care in the home for those with 
                                        Parkinson’s, multiple sclerosis or facing challenges after a stroke, to name a few.</blockquote>
                                    <p>We know that asking for help can be difficult at times. We’re here to talk you through your visiting care options and the full costs. 
                                        Call us today to speak to one of our friendly customer advisors.</p>
                                </div>
                                <div style="margin-top: 10px;" class="row sub_content">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form_3.php"><button class="btn btn-default btn-block" style="border-radius: 20px;" type="button"><strong >Request a callback &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form.php"><button class="btn btn-default btn-block" style="border-radius: 20px; background-color: #ff6666;" type="button"><strong>Request a brochure &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                </div>

                            </div>

                            <div class="carousel">

                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>How visiting care works</h3> 
                                                <p>How visiting care works at Essential Home Care <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v2.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>Who is visiting care for?</h3> 
                                                <p>Home visit for adults of all ages, nationwide<br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v3.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>Visiting care expertise</h3> 
                                                <p>Meet some of our dedicated carers <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  rec_blog">
                                        <div class="blogPic">
                                            <img alt="" src="/public/images/blog/v4.jpg" style="border-radius: 4px; max-height: 185px;">
                                            <div class="inside">
                                                <h3>From visiting care to live-in care</h3> 
                                                <p>Peace of mind with ongoing live-in support <br><a href="#"><span style="font-weight: bold; color: #fff">Learn More&nbsp; <i class="fa fa-chevron-right"></i></span></a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <p style="margin-top: 10px;"><span style="font-size: 16px;">See our full range of </span><a href="#"><span style="font-size: 16px; font-weight: bold; color: #00AAF1;">home care services.</span></a></p>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Care that’s built around you</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        We understand how important it is to keep your independence. If things get too much to manage on your own, we’re here to step in with extra support. That’s the real difference with home care, 
                                        whether it’s through live-in care or visiting support – you have complete choice over the options.
                                    </p>
                                    <blockquote class="default">With Essential Home Care, your home care support can shrink or grow, if or when your needs change. We cover the full range of care services for adults of all ages, 
                                        from offering companionship and help around the home through to 24-hour care for complex health needs.</blockquote>
                                    <p>Relax, We're here for you all the way.</p>
                                </div>
                            </div>

                            <div class="widget widget_tab">
                                <ul class="nav nav-tabs" style="font-weight: bold;">
                                    <li class="active"><a href="#Popular" data-toggle="tab">Why choose us</a></li>
                                    <li class=""><a href="#Recent" data-toggle="tab">Price guide</a></li>
                                    <li class=""><a href="#Recent-Comment" data-toggle="tab">Funding options</a></li>
                                </ul>

                                <div  class="tab-content clearfix text-p-size">
                                    <div class="tab-pane fade active in" id="Popular">
                                        <p>As the leading home care specialist in England and Wales, we’re passionate about providing the highest quality of care. 
                                            And we’ve been doing just that for almost 30 years.</p>
                                        <h3>Flexible home care</h3>
                                        <ul class="list_style circle">
                                            Full range of services – visits from 30 mins a week to full live-in care
                                            <li><strong>Respite care</strong> – extra help so your regular carer can have a break</li>
                                            <li><strong>Overnight care</strong> – continuous support or a trusted someone on hand</li>
                                            <li><strong>Nursing care</strong> – expert support from our nurse-led team</li>
                                            <li><strong>Specialists in dementia care</strong> – every carer is trained to support someone living with dementia</li>
                                            <li><strong>Personal care</strong> – available for any daily task you may need support with</li>
                                        </ul>
                                        <h3>How we care</h3>
                                        <ul class="list_style circle">
                                            <li>We're local to you  - with many branches nationwide and growing</li>
                                            <li>We're not an agency - we employ every carer directly</li>
                                            <li>All of our carers are fully trained</li>
                                            <li>We're a family-run business and experts in home care</li>
                                            <li>We're fully regulated and accredited by the social welfare council</li>
                                        </ul>
                                        <div style="margin-top: 20px;" class="col-lg-4 col-md-4 col-xs-12">
                                            <!-- Standard button -->
                                            <button class="btn btn-default btn-block" type="button"><span >More about us <i class="fa fa-chevron-right"></i></span></button>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="Recent">
                                        <p>It’s best to call us for an exact price of our visiting care services as the cost is very much dependent on your needs. We’re here for you seven days a week.</p>
                                        <h3>Quality care you can trust</h3>
                                        <p>We employ the very best carers to give you the very best in home care.</p>
                                        <ul class="list_style circle">
                                            <li><a href="#">Prices are from £17.50 per hour for one-to-one personal home care</a></li>
                                            <li><a href="#">Flexible costs for visits lasting 30, 45 or 60 minutes</a></li>
                                            <li><a href="#">Call-out fee of £3.50 per visit to cover travel costs</a></li>
                                            <li><a href="#">Free home visit from your local care specialist to assess your needs</a></li>
                                            <li><a href="#">Free ongoing checks to make sure we’re delivering the right level of care</a></li>
                                        </ul>
                                        <h3>No hidden costs</h3>
                                        <p>With Essential Home Care, you can be assured there are no hidden fees. Call us for an exact quote and to learn more about the funding options available.</p>
                                    </div>
                                    <div class="tab-pane fade" id="Recent-Comment">
                                        <p>You may be entitled to government funding, benefits or allowances that can help with the costs of visiting care.</p>
                                        <p>Funding options includes:</p>
                                        <ul class="list_style square">
                                            <li><a href="#">Healthcare funding through the NHS</a></li>
                                            <li><a href="#">Social care funding from your local authority – we accept direct payment top-ups</a></li>
                                            <li><a href="#">Pension credits or savings credits</a></li>
                                        </ul>
                                        <p>Our friendly team is here to advise on funding options and point you in the right direction. Call us today.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Why is visiting care different?</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        Unlike residential care, visiting care is in your own home, to your own timetable. It allows you to have the 
                                        support you need without the disruption of moving into a care or nursing home.
                                    </p>
                                    <p>Visiting care is also completely unique to your needs and requirements – if there are certain aspects of your care that you 
                                        prefer to do yourself, like showering or personal care for example, our carers will always respect your choice and independence.
                                        Visiting care can also be adapted should find you need more help with specific tasks or if your needs are becoming more advanced.</p>
                                    <p>With the one-to-one support from a trained carer, you can enjoy what matters most to you. With a fully-managed and regulated service,
                                        you can be sure that the care you and your family receives is safe and of the highest level.</p>
                                    <p><span style="font-size: 25px; font-weight: bold;">How to arrange visiting care</span></p>
                                    <p>
                                        We aim to make arranging visiting care a smooth and straightforward. After an initial consultation, one of our local 
                                        teams will sit with you and your family to understand your needs and how we can meet the requirements.  
                                    </p> 
                                    <p>With branches across Nigeria, we can arrange for care to start when you need it to and to be in place ready for hospital discharges. Because changes to circumstances can happen suddenly,
                                        we can also put care in place quickly for family emergencies or if you need a few days’ respite from looking after a loved one, ensuring they always have support in place.</p>
                                    <p>Our advisors are ever ready to help you understand your visiting care options and arrange the solution which is right for you and your family. They’re only a phone call away so speak to one of them today.</p>
                                </div>
                            </div>

                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Who can benefit from visiting care?</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        Visiting care is available for anyone who needs a little extra help to carry on living the independent life they want to lead. It can be of particular support following 
                                        a major operation or injury, as well as for those with conditions such as Parkinson’s.                                    </p>
                                    <h3>Peace of mind for the elderly</h3>
                                    <p>
                                        Whether you’re looking at care for your friend or a family member, our visiting carers will be there to help you with anything you need. And with guidance from our 
                                        nursing specialists, we can provide support for those with advanced care needs.
                                    </p>
                                    <p>
                                        We can also arrange support for students or younger adults, helping them to maintain an active social life at university, or to help with recovery after a spinal injury. And being a member of the Dementia 
                                        Action Alliance, We ensure that we provide a continuous service for those with different types of dementia and their families.                                    </p>
                                </div>
                            </div>

                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Other people are interested in...</span></p>
                                    <hr>
                                    <p style="font-size: 15px;">
                                        We're here seven days a week to talk through your home care needs and find the best option for you.
                                        Call <strong>09055556666</strong> or <a href="form_3.php"><strong>request a call</strong></a> and will will call you.
                                    </p>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care1.jpg"class="img-thumbnail">
                                    </div>
                                    <h3>Nursing care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Elderly care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care2.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Support for younger people</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <!--Sidebar Widget-->
                <% include sidebar-right.ejs %>
            </div><!--/.row-->
        </div> <!--/.container-->
    </section>
</section>
<!--end wrapper-->

<!--start footer-->
<!--start footer-->

<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.easing.1.3.js"></script>
<script src="/public/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="/public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script type="text/javascript" src="/public/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/public/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/jquery.blurr.js"></script>
<!---->

<script src="/public/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>
<% include footer.ejs %>