<% include header.ejs %>
<!--start wrapper-->
<section class="wrapper">
    <section class="page_head" data-href="/public/images/page_header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page_title">
                        <h2 style="font-size: 30px;">Who is live-in care for?</h2>
                        <span class="sub_heading">Call today, care tomorrow. Choose Nigeria biggest and best live-in care provider.</span>
                    </div>
                    <nav id="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="/">Home</a></li>
                            <li>Who is live-in care for?</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="content blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="blog_large">
                        <article class="post">
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Custom-made home care for adults of all ages</span></p>
                                    <hr>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <p>
                                        <strong>
                                            Live-in care is for anyone who wants to live independently in his or she own home but needs a certain level of support to do so. 
                                        </strong>
                                    </p>
                                    <p>
                                        We provide live-in care for adults of all ages across Nigeria and with many varying health conditions, whether that be dementia,
                                        operation aftercare or even care for progressive conditions such as multiple sclerosis. And with Essential home care service, you get a consistent service you can rely on.
                                    </p>
                                    <blockquote class="default">
                                        Maybe you’re looking for 24-hour support for a loved one to prevent trips and falls, or want support with your own health needs to assist you with day-to-day needs at home, 
                                        at work or through university. Whatever the health condition or care requirements, our team of nursing experts are on-hand to build the right care plan for you.
                                    </blockquote>
                                    <p>
                                        Asking for help can be a daunting step to take. But we have nearly about 4 years of experience to help walk you through the process and build a care plan that works around your specific needs. 
                                        And as the nation’s leading home care company, we’re regulated and accredited.                                    </p>
                                    <p>Speak to one of our friendly care specialists today.<strong>09055556666.</strong></p>
                                </div>
                                <div style="margin-top: 10px;" class="row sub_content">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form_3.php"><button class="btn btn-default btn-block" style="border-radius: 20px;" type="button"><strong >Request a callback &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <a href="form.php"><button class="btn btn-default btn-block" style="border-radius: 20px; background-color: #ff6666;" type="button"><strong>Request a brochure &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></strong></button></a>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <h2>Examples of who might need live-in care</h2>
                                    <hr>
                                    <h3>Hospital discharge</h3>
                                    <p>
                                        Sometimes getting all-clear for a hospital discharge can rely on whether the right level of care is available at home. It often places a great amount of pressure on families in juggling care needs with other commitments. 
                                    </p>
                                    <p>
                                        Our emergency care means we can often respond within 24 hours if you or your loved one is being discharged from hospital. After contacting us, your local care specialist will liaise with the hospital 
                                        discharge team and other professionals involved on your behalf to arrange a safe return home.
                                    </p>
                                    <p>
                                        With the help of your chosen live-in carer, you or your loved one can have a smooth transition. He or she is there to support with the day-to-day tasks: making meals, running errands and keeping the house clean and tidy,
                                        right through to personal care and assisting with physiotherapy exercises.
                                    </p>
                                    <p>
                                        We work alongside your district nurse, occupational therapist and physiotherapist, offering essential support when health can be at its most fragile, building confidence and strength each day. Our carers can also give medical support.
                                    </p>
                                    <p>
                                        Call us today and speak to us about how we can react quickly to a forthcoming hospital discharge. We’re here seven days a week to take your call.
                                    </p>
                                    <h3>Switching from visiting care to live-in care</h3>
                                    <p>
                                        When you’re at the point of receiving a number of care visits each day, as well as having night care, the costs can soon become significant and unmanageable.
                                    </p>
                                    <p>
                                        For a similar price, a dedicated live-in carer provides the continuity that a team of carers is unable to. One person can absorb all the routine tasks and have the time to concentrate on providing so 
                                        much more, such as being a companion and sharing hobbies and interests.
                                    </p>
                                    <p>
                                        With a live-in carer, you have a continuous care service and complete peace of mind that you or your loved one has the right support, no matter what the time of day.
                                    </p>
                                    <p>Call us today to speak to one of our care specialists about how live-in care could work for you.</p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">
                                    <h2>Returing home from a residential care home</h2>
                                    <hr>
                                    <p>
                                        We support many families who have trialed a residential setting but have missed their independence and home environment.
                                    </p>
                                    <p>
                                        By contacting us, we’ll walk you through the options for returning home. Your local care specialist will visit both the care home as well as your actual home to get a full understanding of both environments and make 
                                        sure your transition is a smooth one, both physically and emotionally.
                                    </p>
                                    <p>Even complex healthcare needs can be supported by a Essential home carer in your own home. Call us today to see if we can support you – it’s likely that we can.</p>
                                </div>
                            </div>
                            <div class="carousel">

                                <div class="row" style="margin-top: 20px;">
                                    <figure class="post_video thumbnail" style="text-align: center; box-shadow: 0.4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);">
                                        <div style="margin-top: -9.3%;">
                                            <div class="embed-responsive embed-responsive-4by3">
                                                <video controls >
                                                    <source class="play" src="video/v.MP4" type="video/mp4">
                                                </video>
                                            </div>
                                            <h3 class="text-shadow">How live-in care is helping Ola and his family</h3>
                                        </div>
                                    </figure>

                                </div>
                                <p style="margin-top: 10px;"><span style="font-size: 16px;">See our full range of </span><a href="homecare.php"><span style="font-size: 16px; font-weight: bold; color: #00AAF1;">home care services.</span></a></p>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12 text-p-size">                                  
                                    <h3>Changing care companies</h3>
                                    <p>
                                        A third of our customers contact us because their needs are not being met by their current care company, or because they’re unhappy with their service.
                                    </p>
                                    <blockquote class="default">
                                        Because we employ all of our carers directly, our service offers greater continuity and more choice in carers nationwide. Plus, our nursing-led team means we can support people with complex health 
                                        needs and offer the required medical support when you need it.
                                    </blockquote>
                                    <p>
                                        We’re passionate about our carers and the extraordinary service that they provide. This confidence in our experience, ability and scope means you never need to look elsewhere.
                                    </p>
                                    <p>Call us today to see how we can arrange a smooth handover from your existing agency.</p>
                                    <h3>Caring for couples</h3>
                                    <p><a href="live-in-care.php"><strong>Live-in care</strong></a> gives couples the opportunity to stay together, regardless of their care needs. Doing so can make considerable cost savings too when 
                                        compared with the price of paying for two beds in a care home.</p>
                                    <p>
                                        Sometimes couples struggle to support each other with personal care. For others, daily housekeeping tasks may get difficult if both of you are unwell. Whatever your care needs, there will 
                                        be a live in care solution that means you can stay together.
                                    </p>
                                    <p>Speak to us today for how we can help you, or find out more about how we care for couples.</p>
                                    <h3>Preventing falls</h3>
                                    <p>
                                        Many of our customers are concerned about experiencing a fall at home, especially when they live alone. It can cause a great deal of anxiety for them and their families.
                                    </p>
                                    <p>
                                        Falls can cause long-term damage, especially to those who are already quite frail. A fall can destroy confidence, increase isolation and reduce independence.
                                    </p>
                                    <p>
                                        With a live-in carer supporting day and night, families have the reassurance of someone being there at all hours to prevent falls or even raise the alarm if something was to happen.
                                    </p>
                                    <p>
                                        Call us today to find someone who will fit into yours, or your loved one’s, life.
                                    </p>
                                </div>
                            </div>
                            <div class="row sub_content">
                                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-12">
                                    <p><span style="font-size: 25px; font-weight: bold;">Other people are interested in...</span></p>
                                    <hr>
                                    <p style="font-size: 15px;">
                                        We're here seven days a week to talk through your home care needs and find the best option for you.
                                        Call <strong>09055556666</strong> or <a href="form_3.php"><strong>request a call</strong></a> and will will call you.
                                    </p>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care1.jpg"class="img-thumbnail">
                                    </div>
                                    <h3>Nursing care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Elderly care</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                                <div class="list_item col-lg-4 col-md-6 col-sm-6">
                                    <div class="hoverlay">
                                        <img src="/public/images/blog/care2.jpg" class="img-thumbnail">
                                    </div>
                                    <h3>Support for younger people</h3>
                                    <p style="font-size: 15px;">Supporting independent living whatever you care needs</p>
                                    <a href="#"><span style="font-size: 16px; font-weight: bold;">Find out more</span></a>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>

                <!--Sidebar Widget-->
                <% include sidebar-right.ejs %>
            </div><!--/.row-->
        </div> <!--/.container-->
    </section>
</section>
<!--end wrapper-->

<!--start footer-->
<!--start footer-->

<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.easing.1.3.js"></script>
<script src="/public/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
<script type="text/javascript" src="/public/js/styleswitch.js"></script> <!-- Style Colors Switcher -->
<script type="text/javascript" src="/public/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/public/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/public/js/swipe.js"></script>
<script type="text/javascript" src="/public/js/jquery.blurr.js"></script>
<!---->

<script src="/public/js/main.js"></script>

<!-- Start Style Switcher -->
<div class="switcher"></div>
<% include footer.ejs %>