.description{
    font-size: 20px;
}
.can{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin: 4px;
}
.book-me-buttons{
    margin-bottom: 10px;
    width: 50%;
}
.modal-can{
    margin-top: 5%
}